body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  min-height: 100vh;
}
.search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  min-height: 10vh;
  margin-bottom: 5%;
}
.search-bar{
  border: none;
  padding: 10px;
  margin: 0;
  width: 50%;
  outline: none;
  transition: 0.3s ease-in-out;
}
.search-button{
  background-color: lightseagreen;
  border: none;
  padding: 10px 20px;
  color: white;
  margin-left: 3%;
  transition: 0.3s ease-in-out;
}
.search-button:hover{
  background: cyan;
  color: black;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
img{
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  font-size: 7.5vh;
  color: darkblue;
}
.search-bar:hover{
  transform: scale(1.06);
  box-shadow: 1px 1px 20px 1px darkblue;
}